body {
    color: #4a4a4a
}

/* section {
    padding: 32px 0px 32px 24px;    
} */

h1 {
    font-size: 3.5vw;
}

h2 {
    font-size: 2.8vw;
}

h3 {
    font-size: 2.3vw;
}

h4 {
    font-size: 1.6vw;
}

a, p {
    font-size: 1.2vw;
}

/* Boostrap Component */
.row {
    margin: 0px
}

.col {
    padding: 0px;
}

.card-body {
    padding: 16px 16px 24px 16px;
}

.card-text {
    font-size: 1.4vw;
}

/* Navigation Bar */
ul a {
    font-size: 20px;    
}

nav {
    height: 64px;
    padding: 0 24px;
}

.navbar {
    padding:0 24px;
}

.navbar-expand .navbar-nav .nav-link { /* remove boostrap default padding */
    padding-right: 0rem;
    padding-left: 0rem;
}

.navbar-brand { /* set navbrand height */
    height: 32px;
    margin: 0;
    padding: 0;
}

.navbar-brand p { /* navbrand font */
    display: inline;
}
.nav-item { /* space between each nav item */
    margin-left: 16px;
}

.menu a { /* nav item a tag style */
    text-decoration: none;
    color: inherit
}

.nav-icon { /* hide nav item icon on desktop */
    display: none;
}

@media only screen and (max-width: 768px) {
    .navbar-brand p { /* hide navbrand font on small screen */
        display: none;
    }

    .nav-item { 
        width: 100%;
        text-align: right;
    }

    .navbar-nav { /* grow nav item width */
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    a.nav-link { /* hide nav item text */
        display: none;
    }

    .nav-icon { /* show nav item icon on small screen/ mobile device */
        display: block;
        height: 32px;
        margin: 0;
    }

    li.or-companies { /* hide "or companies" option */
        display: none;
    }
}


@media only screen and (min-width: 992px) {
    .col-lg-60 {
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
        padding: 0px 15px;
    }
}

.col-lg-60 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 0px
}




/* test */

.right-row {
    height:33%;
    overflow: hidden;
}

.left-row {
    height: 66%;
    overflow: hidden;
}