/* Universal Style */
html {
    scroll-behavior: smooth;
  }

body {
    color: #4a4a4a;
}

main {
    margin-top: 64px;
}

@media only screen and (max-width: 319px) {
    /* disable when the screen is too small */
    main {
        display: none;
    }
}

img, video {
    object-fit: cover;
}

a:hover {
    text-decoration: none;
}


/* Fonts */
h1 {
    font-size: 3.5vw;
    position: relative;
    overflow: hidden;
    padding-bottom: 3px;
}

h2 {
    font-size: 2.8vw;
}

h3 {
    font-size: 2.3vw;
}

h4 {
    font-size: 2vw;
}

a, p {
    font-size: 1.2vw;
}

/* Boostrap Component */
.row { /* somehow original row cause horizontal scroll */
    margin: 0px
}

/* Custom Component */
.container-1440px { /* set max-width as 1440px */
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
}

.col-md-60p { /* Column with 60% width */
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 0px
}

.highlight { /* highlighted component */
    background: #e5e5e5;
}

.description-col { /* Column contains only description */
    padding-left: 12px;
}

.synopsis-col { /* Column contains article synopsis */
    padding: 16px 0px 16px 0px;
}

.synopsis-row { /* Row contains article synopsis */
    padding: 16px 16px 48px 16px;
}

.synopsis-row:hover {
    opacity: 0.9;
    background: #b6b6b6;
}

.banner { /* Banner div */
    overflow: hidden;
    padding: 16px 0px !important;
}

/* Navigation Bar */
ul a {
    font-size: 20px;
}

nav {
    height: 64px;
    padding: 0 24px;
}

.navbar {
    padding: 0 24px;
}

.navbar-expand .navbar-nav .nav-link { /* remove boostrap default padding */
    padding-right: 0rem;
    padding-left: 0rem;
}

.navbar-brand { /* set navbrand height */
    height: 32px;
    margin: 0;
    padding: 0;
}

.navbar-brand p { /* navbrand font */
    display: inline;
}

.nav-item { /* space between each nav item */
    margin-left: 16px;
}

.menu a { /* nav item a tag style */
    text-decoration: none;
    color: inherit
}

/* Loading mask */
#loading-mask {
    background-color: #faf7f1;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

/* Section 1: Welcome */
#welcome {
    background: #e4e4e4;
}

.description-col button {
    font-size: 1.6vw;
    padding: 8px 0px 8px;
    color: white;
    background: #6d6d6d;
    width: 27vw;
    max-width: 388.8px;
}

.description-col h4 {
    line-height: 1.5;
    padding: 10px 0px
}

.description-col button:hover {
    opacity: 0.6 !important;
}

/* Section 3: Courses */
#courses {
    background: #eaebec;
}
.course-collapse-card {
    background: #e4e4e4;
}
.card-header { /* collaspe button in section 3 */
    padding: 16px 16px 24px 16px;
}
.card-body { /* course description body */
    padding: 16px 16px 24px 16px;
}
.card-text { /* course desciption font size */
    font-size: 1.4vw;
}
.btn-link { /* collaspe button style */
    color: #6d6d6d;
    font-size: 5vw;
    font-weight: 600;
    padding: 0px;
}
.btn-link:hover, .btn-link:focus  {
    color: white;
    text-decoration: none;
}
.col-md-4 .card:hover {
    background: #b6b6b6;    
}

/* Break points */
@media only screen and (max-width: 767px) { /* style only below mediumn screen */
    /* Fonts */
    h1 {
        font-size: 9.5vw;
    }
    h2 {
        font-size: 8vw;
    }
    h3 {
        font-size: 6.65vw
    }
    h4 {
        font-size: 6.5vw;
    }
    a, p {
        font-size: 3.5vw;
    }

    /* Boostrap Component */
    .border-bottom {
        border-bottom: 0px solid #dee2e6!important;
    }

    /* Custom Component */
    .banner { /* Banner div*/
        max-height: 300px;
        padding: 0px!important;
    }
    .description-col {
        padding: 32px 16px 32px 16px;
    }
    .description-col button {
        background: #b6b6b6;
        font-size: 4.6vw;
        font-weight: 600;
        width: 100%;
    }
    .description-col h4 {
        padding: 32px 0px 24px;
    }
    .synopsis-col {
        padding: 0px;
    }
    .col-12 { /* synopsis column */
        padding: 0px;
    }
    .synopsis-detail { /* synopsis text */
        padding: 16px 16px 0px 16px
    }

    /* Nav Bar */
    .nav-item {
        width: 100%;
        text-align: right;
    }
    .navbar-nav { /* grow nav item width */
        width: 100%;
    }

    /* Section 3: Courses */
    #courses {
        background: 0;
    }

    /* Section 4: Thesis */
    .exhibit-video {
        padding: 16px 0px 24px !important;
    }

    /* Footer */
    footer {
        padding-top: 0px !important;
    }

}

@media only screen and (min-width: 768px) { /* style only above mediumn screen */
    /* Custom Component */
    .col-md-60p { /* Column with 60% width */
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
        padding: 16px 12px 16px 24px;
    }
    .synopsis-row {
        height: 33%;
        overflow: hidden;
        padding: 16px 0px 16px 12px;
    }
    .banner-row {
        height: 66%;
        overflow: hidden;
    }
}

@media only screen and (min-width: 1440px) { /* style only over 1440px width */
    h1 { /* h1 max-font-size*/
        font-size: 50.4px;
    }
    h2 { /* h2 max-font-size*/
        font-size: 40.32px;
    }
    h3 { /* h3 max-font-size*/
        font-size: 33.12px;
    }
    h4 { /* h4 max-font-size*/
        font-size: 28.8px;
    }
    a,
    p { /* a & p max-font-size*/
        font-size: 16px;
    }
    .card-text {
        font-size: 20.16px;
    }
    .description-col button {
        font-size: 28px;
    }
}   


/* For GSAP Animation */
h1 span { /* h1 animation layer mask */
    position: absolute;
    color: white;
    background: #e4e4e4;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    z-index: 1;
}